<!DOCTYPE html>
<html lang="en">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
  crossorigin="anonymous">
  <head>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover:not(.active) {
        background-color: #111;
      }
      .active {
        background-color: #04AA6D;
      }
      @media screen and (max-width: 300px) {
        body{
          background-color: aqua;
        }
      }
        
    </style>
    <meta charset="UTF-8" />
    <title>Messages for You-PBP 2021</title>
  </head>
  <body>
    <h1 align="center">Pesan Untuk Kamu</h1>
    <ul>
      <li><a href="/lab-4">Home</a></li>
      <li><a href="add-note">Tulis Pesan</a></li>
      <li><a href="note-list" class="active">Isi Pesan</a></li>
    </ul>
    <br>
    <div class="container" align='center'>
      <div class="card-columns">
        {% if notes %} 
          {% for note in notes %}
            <div class="card" style="width: 20rem;" >
              <h6 class="card-header bg-light" align='left'>
                To: {{note.to}}<br>
                From: {{note.froms}}
              </h6>
              <h5 class="card-title">{{note.title}}</h5>
              <div class="card-body" align='left'>{{note.messages}}</div>
            </div>
            <br>
          {% endfor %}
        </div>
        {% endif %}
    </div>
  </body>
</html>  
  