<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <head>
    <meta charset="UTF-8" />
    <title>Send Messages</title>
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover:not(.active) {
        background-color: #111;
      }
      .active {
        background-color: #04AA6D;
      }
      #field[textarea]{
        resize: none;
        width: fit-content;
      }
    </style>
  </head>
  <body>
    <h1 align="center">Masukkan Pesan</h1>
    <ul>
      <li><a href="/lab-4">Home</a></li>
      <li><a href="add-note" class="active">Tulis Pesan</a></li>
      <li><a href="note-list">Isi Pesan</a></li>
    </ul>
    <br>
    <div class="container">
    <div class="form-group">
      <form action="" method="POST"> 
        {% csrf_token %}
        <div class="row"> 
          <div class="col">To: {{form.to}}</div>
          <div class="col">From: {{form.froms}}</div>
        </div>
        <br>
          <div class="col">Title: {{form.title}}</div><br>
          <div class="col"> Messages: {{form.messages}}</div>
          <br>
          <center><input class="btn btn-success btn-lg" type="submit" value="Save"></center>
      </form>
    </div>
    </div>
  </body>
</html>