<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home-PBP 2021</title>
  </head>
  <style>
    table {
      width:  100%;
      border:1px solid black;
      border-collapse: collapse;
      
    }
    th{
      border:1px solid black;
      border-collapse: collapse;
      text-align: center;
      background-color: #04AA6D;
      color: whitesmoke;
    }
    td{
      border:1px solid black;
      border-collapse: collapse;
      text-align: center;
      max-width: 5cm;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover:not(.active) {
        background-color: #111;
      }
      .active {
        background-color: #04AA6D;
      }
    </style>
  <body>
    <h1 align="center">Rumah Kita</h1>
    <ul>
      <li><a href="/lab-4" class="active">Home</a></li>
      <li><a href="add-note">Tulis Pesan</a></li>
      <li><a href="note-list">Isi Pesan</a></li>
    </ul>
    <br>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for element in notes %}
      <tr>
        <td>{{ element.froms }}</td>
        <td>{{ element.to }}</td>
        <td>{{ element.title }}</td>
        <td>{{ element.messages }}</td>
      </tr>
      {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>