<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
  </head>
  <body>
    <form action="" method="POST"> 
        {% csrf_token %}
        Name:{{form.name}}
    </br>
    </br>
        NPM: {{form.npm}}
    </br>
    </br>
        Date of Birth: {{form.date}}
    </br>
    </br>
        <input type="submit" value="Save">
    </form>
  </body>
</html>